*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: HSLA(211, 36%, 46%, 1);
  background: linear-gradient(
    193deg,
    rgb(41, 55, 70) 0%,
    rgb(18, 26, 32) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-kit {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  aspect-ratio: 16 / 9;
}

/* drum base layout */
.drum {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.1s ease;
  width: 120px;
}

.drum:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.drum.active {
  transform: translate(-50%, -50%) scale(0.95);
  filter: brightness(1.4);
}

/* Element element Drums */

/* Kick kiri */
.kick-1 {
  bottom: 10%;
  left: 40%;
  width: 180px;
}

/* Kick kanan */
.kick-2 {
  bottom: 10%;
  left: 60%;
  width: 180px;
}

.snare {
  bottom: 30%;
  left: 50%;
  width: 130px;
}

.hihat-close {
  top: 36%;
  left: 31%;
  width: 110px;
}

.hihat-open {
  top: 48%;
  left: 28%;
  width: 110px;
}